[build-system]
requires=["hatchling"]
build-backend="hatchling.build"

[project]
name="sweetbean"
version="0.0.3"
authors=[{name="Younes Strittmatter", email="younes_strittmatter@brown.edu"},]
description="declarative language in python for jsPsych experiments."
requires-python= ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.com/AutoResearch/sweet-bean"
"Bug Tracker" = "https://github.com/AutoResearch/sweet-Bean/issues"

