[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
[project]
name = "loanpred"
version = "0.0.7"
authors = [
  { name="ananya kumar dhal", email="ananyakumardhal2003@gmail.com" },
]
description = "Machine Learning for loanpred"
readme = "README.md"
license = { file="LICENSE" }
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

